<ul class="subscribtions">
    <li *ngFor="let subscribtion of subscribtions" class="subscribtion-item" [routerLink]="'/channel/' + subscribtion.id">
      <div class="subscribtion-image">
        <img [src]="subscribtion.image" [alt]="subscribtion.name">
      </div>
      <div class="subscribtion-info">
        <p class="subscribtion-title">{{ subscribtion.name }}</p>
        <p class="hint" *ngIf="subscribtion.description && subscribtion.description.length > 30">
          {{ subscribtion.link.slice(0, 20) + '...' }}
        </p>
        <p class="price">{{subscribtion.price}}</p>      
      </div>
    </li>
</ul>