/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Titillium+Web&display=swap");

// .root {
//   --main-padding: 16px;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  padding: var(--main-padding);
  //font-family: "Inter", sans-serif;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

a {
  color: var(--tg-theme-link-color);
}

button {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-text-color);
}

// .heading {
//   font-size: 1.5rem;
//   font-weight: 600;
//   margin-bottom: 10px;
//   text-align: center;
// }

.mb {
  margin-bottom: var(--main-padding);
}

.hint {
  color: var(--tg-theme-hint-color);
  font-size: 0.8rem;;
  line-height: 1.5;
}

hr {
  background: var(--tg-theme-hint-color);
  margin-bottom: var(--main-padding);
}

.centered {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-control {
  width: 100%;
  height: 60px;
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  resize: none;
  font-family: inherit;
  padding: 8px;
  border-radius: 10px;
}

.subscribtions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Столбцы будут автоматически растягиваться в зависимости от размера экрана */
  gap: 30px; /* Расстояние между элементами */;
  list-style:none;
  margin: 0;
  padding: 0;
  margin: 10px 20px;
}

.subscribtion-item {
  overflow: hidden;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  height: auto; /* Фиксированная высота для каждого элемента */
  padding: 5px;
}

.subscribtion-image {
  display: flex;
  height: 100px;
  justify-content: center;
  background: var(--tg-theme-secondary-bg-color);
  text-align: center;
  padding-top: 5px;
}


.subscribtion-image img {
  max-width: 80px;
  font-weight: 600;
  height: auto;
  display: block;
}

.subscribtion-title {
  font-weight: 600;
  padding: 0;
  text-align: center;
}

.subscribtion-info {
  padding: var(--main-padding);
}

.subscribtion-info > p {
  margin-bottom:  2px!important ;
}

.price {
  padding-right: 10px;
  font-weight: 600;
  text-align: right;
  bottom: 0;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
